<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8" />
<title>Demo</title>
</head>
<body>
  <h1>First-Demo Just so so!</h1>
  <ul>
    <li>
    		<span th:text="${singlePersonEng.name}"> </span>
    </li>
    <li>
    		<span th:text="${singlePersonEng.age}"> </span>   
    </li>
  </ul>
  <ul>
    <li>
    		<span th:text="${singlePersonCn.name}"> </span>
    </li>
    <li>
    		<span th:text="${singlePersonCn.age}"> </span>   
    </li>
  </ul>
</body>
</html>